body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    background-image: url('background2.jpg'); /* Replace with the path to your image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.context-box {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the last value for transparency (0 is fully transparent, 1 is fully opaque) */
    padding: 20px;
    text-align: center;
    max-width: 600px; /* Adjust as needed */
    border-radius: 10px; /* Optional: add rounded corners to the context box */
    display: flex;
    flex : 1;
}

.context-box h1 {
    color: #333; /* Adjust text color as needed */
}

.context-box p {
    color: #555; /* Adjust text color as needed */
}

.column {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.column label{
    display: inline-block;
}
.column button {
    display: flex;
    margin-bottom: 10px;
}
.column h2 {
    color: #333;
    margin-bottom: 20px;
}
.input-block {
    display: flex;
    margin-bottom: 10px;
}
